In [4]:
import pandas as pd
import sklearn as sk 
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
df=pd.read_csv("steam-200k.csv",usecols=[0,1,2,3],names=['userid','game','behaviour','playtime'])

In [6]:
df.head()

      userid                        game behaviour  playtime
0  151603712  The Elder Scrolls V Skyrim  purchase       1.0
1  151603712  The Elder Scrolls V Skyrim      play     273.0
2  151603712                   Fallout 4  purchase       1.0
3  151603712                   Fallout 4      play      87.0
4  151603712                       Spore  purchase       1.0

In [7]:
df.isnull().values.any()

False

In [8]:
df.describe()

             userid       playtime
count  2.000000e+05  200000.000000
mean   1.036559e+08      17.874384
std    7.208074e+07     138.056952
min    5.250000e+03       0.100000
25%    4.738420e+07       1.000000
50%    8.691201e+07       1.000000
75%    1.542309e+08       1.300000
max    3.099031e+08   11754.000000

In [9]:
df['userid']=df.userid.astype(str)

In [10]:
df.describe

<bound method NDFrame.describe of            userid                        game behaviour  playtime
0       151603712  The Elder Scrolls V Skyrim  purchase       1.0
1       151603712  The Elder Scrolls V Skyrim      play     273.0
2       151603712                   Fallout 4  purchase       1.0
3       151603712                   Fallout 4      play      87.0
4       151603712                       Spore  purchase       1.0
...           ...                         ...       ...       ...
199995  128470551                 Titan Souls      play       1.5
199996  128470551  Grand Theft Auto Vice City  purchase       1.0
199997  128470551  Grand Theft Auto Vice City      play       1.5
199998  128470551                        RUSH  purchase       1.0
199999  128470551                        RUSH      play       1.4

[200000 rows x 4 columns]>

In [11]:
matrix=df.pivot_table(columns='game',index='userid',values='playtime')

In [12]:
matrix=matrix.dropna(thresh=5,axis=0)
matrix

game,007 Legends,0RBITALIS,1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),10 Second Ninja,"10,000,000",100% Orange Juice,1000 Amps,12 Labours of Hercules,12 Labours of Hercules II The Cretan Bull,12 Labours of Hercules III Girl Power,...,rFactor 2,realMyst,realMyst Masterpiece Edition,resident evil 4 / biohazard 4,rymdkapsel,sZone-Online,samurai_jazz,the static speaks my name,theHunter,theHunter Primal
userid,,,,,,,,,,,,,,,,,,,,,
100053304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100057229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100070732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100096071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100311267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99711581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99713453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99723205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99766416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99961115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.groupby(['game']).mean().sort_values(by="playtime",ascending=False)

                                  playtime
game
Eastside Hockey Manager         648.000000
FIFA Manager 09                 206.000000
Perpetuum                       200.987500
Football Manager 2012           194.501887
Football Manager 2014           194.017722
...                                    ...
Battle Academy 2 Eastern Front    0.550000
Diamond Dan                       0.550000
B.U.T.T.O.N.                      0.550000
Little Big Adventure 2            0.550000
Urizen Shadows of the Cold        0.550000

[5155 rows x 1 columns]

In [14]:
df.groupby(['game']).sum().sort_values(by="playtime",ascending=False)

                                 playtime
game
Dota 2                           986525.6
Counter-Strike Global Offensive  324183.6
Team Fortress 2                  175996.3
Counter-Strike                   135117.1
Sid Meier's Civilization V       100417.3
...                                   ...
Death Track Resurrection              1.0
Dyad                                  1.0
Psichodelya                           1.0
Pulut Adventure                       1.0
Metal Drift                           1.0

[5155 rows x 1 columns]

In [15]:
len(df['game'].unique())

5155

In [16]:
len(df['userid'].unique())

12393

5155 unique games and 12393 unique players

In [18]:
matrix=df.pivot_table(columns='game',index='userid',values='playtime',fill_value=0)

recommendation system

In [22]:
def center(row):
    a=(row-row.mean())/(row.max()-row.min())
    return a
std=matrix.apply(center)
std

game,007 Legends,0RBITALIS,1... 2... 3... KICK IT! (Drop That Beat Like an Ugly Baby),10 Second Ninja,"10,000,000",100% Orange Juice,1000 Amps,12 Labours of Hercules,12 Labours of Hercules II The Cretan Bull,12 Labours of Hercules III Girl Power,...,rFactor 2,realMyst,realMyst Masterpiece Edition,resident evil 4 / biohazard 4,rymdkapsel,sZone-Online,samurai_jazz,the static speaks my name,theHunter,theHunter Primal
userid,,,,,,,,,,,,,,,,,,,,,
100012061,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
100053304,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
100057229,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
100070732,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
100096071,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99812428,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
99906508,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
99940330,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
99961115,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101
99992274,-0.000081,-0.000212,-0.000192,-0.0002,-0.000081,-0.0002,-0.000125,-0.000356,-0.000259,-0.000179,...,-0.000081,-0.000385,-0.00013,-0.000477,-0.000081,-0.002124,-0.000081,-0.000807,-0.000573,-0.000101

In [37]:
def rec(game):
    dota = std[game]
    dota = matrix.corrwith(dota).dropna()
    gameData = df.groupby('game').agg({'playtime': [np.size, np.mean]})
    gameSim = gameData['playtime']['size'] >= 100
    dfnew= gameData[gameSim].join(pd.DataFrame(dota, columns=['similarity']))
    return dfnew.sort_values(by='similarity', ascending=False)[:5]

In [38]:
rec('007 Legends')

                               (playtime, size)  (playtime, mean)  similarity
game
RAGE                                        153          8.462745    0.367715
Call of Duty Advanced Warfare               128          4.774219    0.315614
Stronghold 3                                105          4.900952    0.277309
Empire Total War                            477         44.640042    0.139490
Company of Heroes 2                         199         10.386935    0.111199

In [39]:
rec('RAGE')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:9130: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left,1 on the right)
  return merge(

                  (playtime, size)  (playtime, mean)  similarity
game
RAGE                           153          8.462745    1.000000
Metro 2033                     487          3.855647    0.760826
Metro Last Light               185          6.507568    0.647929
Dishonored                     318          9.481761    0.608321
Far Cry 2                      146          2.746575    0.564190

In [40]:
rec('Half-Life 2')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:9130: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left,1 on the right)
  return merge(

                             (playtime, size)  (playtime, mean)  similarity
game
Half-Life 2                               995          4.923920    1.000000
Half-Life 2 Episode One                   542          2.283764    0.706147
Half-Life 2 Episode Two                   506          2.935178    0.665558
Half-Life 2 Lost Coast                   1158          1.006390    0.397475
Half-Life Deathmatch Source               282          0.987589    0.352271